
.button-white:hover, .button-white:focus {
    background-color: #fff;
}

.button-orange:hover, .button-orange:focus {
    background-color: #ff9900;
}

.button-blue:hover, .button-blue:focus {
    background-color: #00ccff;
}

.button-green:hover, .button-green:focus {
    background-color: #00cc66;
}

/* .button-red:hover, .button-red:focus {
    background-color: #ff5050;
} */

button:hover{
    color: black;
}

