
.button-white:hover, .button-white:focus {
    background-color: #fff;
}

.button-orange:hover, .button-orange:focus {
    background-color: #ff9933;
}

.button-blue:hover, .button-blue:focus {
    background-color: #04d9ff;
}

.button-green:hover, .button-green:focus {
    background-color: #39ff14;
}

.button-red:hover, .button-red:focus {
    background-color: #ff0055;
}

button:hover{
    color: black;
}

